# 忽略依赖文件，这些文件通常在构建过程中生成，用于跟踪文件依赖关系
*.d

# 忽略编译过程中生成的中间目标文件
*.slo
*.lo
*.o
*.obj

#忽略预编译头文件，这些文件用于加速编译过程
*.gch
*.pch

#忽略动态库文件,这些文件在运行时被程序动态加载

*.so
*.dylib
*.dll

# 忽略 Fortran 语言编译过程中生成的模块文件
*.mod
*.smod

#忽略静态库文件，这些文件在链接时被静态包含到可执行文件中
*.lai
*.la
*.a
*.lib

# 忽略可执行文件，这些文件是编译后的最终产品
*.exe
*.out
*.app

#忽略构建目录，通常用于存放编译生成的所有文件
build/

#忽略 Visual Studio Code 的配置目录，这个目录包含用户特定的编辑器设置和配置
.vscode/
.vs/